body {
    margin: 0;
}
span[data-highlight='custom'] {
    background: #2e7d32;
    color: #fff;
}
pre[style*='user-select'],
code[style*='user-select'] {
    user-select: auto !important;
}
#content_views pre code,
#content_views pre {
    user-select: auto !important;
}
