html > head:empty + body,
body[data-scheme='dark'] {
    background-color: #333333;
    color: #fff;
}
span[data-highlight='custom'] {
    background: #2E7D32;
    color: #fff;
}
div#_html.markdown-body {
    background-color: #333333 !important;
    color: #fff !important;
}
div#_html.markdown-body a {
    color: #1890ff !important;
}
div#_html.markdown-body blockquote {
    color: #aaa !important;
}
div#_html.markdown-body .octicon-link::before {
    filter: invert(100%);
    margin-top: 10px;
}
pre[style*='user-select'],
code[style*='user-select'] {
    user-select: auto !important;
}
#content_views pre code,
#content_views pre {
    user-select: auto !important;
}
